//
// BioCommons Colors
//

$bioc-pink:#ed087c;
$bioc-purple: #b21e8d;
$bioc-blue: #205a86;
$bioc-yellow: #f49f1d;
$bioc-teal: #5ac3b1;
$bioc-olive: #8ea869;
$bioc-green: #2cb77c;

$link-color: $bioc-pink;
$btn-primary-color: $bioc-pink;
