//
// BioCommons Colors
//

$bioc-pink:#ed087c !default;
$bioc-purple: #b21e8d !default;
$bioc-blue: #205a86 !default;
$bioc-yellow: #f49f1d !default;
$bioc-teal: #5ac3b1 !default;
$bioc-olive: #8ea869 !default;
$bioc-green: #2cb77c !default;

$link-color: $bioc-pink;
